<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>RSVP</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- Bootstrap -->
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />

    <!-- Fonts -->
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}" />

    <!-- Squad theme CSS -->
    <link href="/css/style.css" rel="stylesheet" th:href="@{/css/style.css}" />

    <script type="text/javascript" src="/js/jquery.min.js" th:src="@{/js/jquery.min.js}" ></script>
    <script type="text/javascript" src="/js/bootstrap.js" th:src="@{/js/bootstrap.js}" ></script>


    <script type="text/javascript">

        $(document).ready(function() {

        }

    </script>

</head>
<body>
<div class="container">
    <p th:text="'Hello, ' + ${person.name} + '!'" />
</div>
</body>
</html>